<h1>Editing Book</h1>
<div class="error_message">
<% if @book.errors.any? %>
  <%= @book.errors.count %>件のerrorが発生しました
  <% @book.errors.full_messages.each do |message| %>
    <%= message %>
  <% end %>
<% end %>
</div>

<%= form_with model:@book, url:"/books/#{@book.id}", local:true do |f| %>
  <h4>Title</h4>
  <%= f.text_field :title %>
  <h4>Body</h4>
  <%= f.text_area :body %>
  <br><%= f.submit 'Update Book' %></br>
<% end %>

<table>
  <tr>
    <th><%= link_to "Show", book_path(@book.id) %></th>
    <th><p>|</p></th>
    <th><%= link_to "Back", "/books" %></th>
  </tr>
</table>